<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<!--for navigation-->
  <nav style="background-color:maroon;color: white;">
    <a routerLink="">Home</a>     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="messages">Message</a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="photos">Photos</a>
  </nav>
    <router-outlet></router-outlet>
  
<footer style="background-color:maroon;color: white;">CopyRight @Seed Infotech</footer>





<!-- <binding-comp></binding-comp> -->
 <!--  <p>{{"Welcome to the world of Angular"|reverse_pipe}}</p> -->
<!-- <pipe-comp></pipe-comp> -->
  <!--   <h1 myhighlight>Hello!! I am a Custom Directive</h1>
    <ol myhighlight>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol> -->
<!-- <attrdir-comp></attrdir-comp>
 -->
<!-- <ngswitch-comp></ngswitch-comp> -->
 <!--  <dir-comp></dir-comp> -->
  
<!-- <parent-comp></parent-comp> -->
 <!-- <greet-comp></greet-comp> -->
 <!--  <hello-comp></hello-comp>
  <prod-comp></prod-comp> -->

  </div>